section{
 h1{
    
 }   
}

.hero-section{
.hero-container{
    .hero-title{}
    .hero-img{
        position: relative;
        width: 20rem;
        border: 2px solid black;
        // height: 20rem;
    }
}
}