.sign-in-form-section {}

.form-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    border: 2px solid red;

    .sign-in-form {
        width: 50%;
        border: 2px solid yellow;
        padding: 1rem;

        .form-container {
            .logo-and-text-container {
                .logo {}

                h3 {}

                .sign-in-description {}
            }

            .input-container {
                .input-label {}

                input {}
            }
        }
    }
}