*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    display: flex;
    justify-content: center;
}
body{
    // background: #01016E;
    color: white;
    max-width: 1440px;
    width: 100%;
    background-image: radial-gradient(#9bc7b9 2px, transparent 1px);
background-size: 4rem 4.5rem;
// background-color: #43b34c;
background-color: #01016E;

}

input{
    // color: black;
}
h1{
    // color: white !important;
}

