@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    display: flex;
    justify-content: center;
    scroll-padding-top: 5.5rem;
    scroll-behavior: smooth;
}

body {
    // background: #01016E;
    max-width: 1440px;
    width: 100%;
    background-image: radial-gradient(#aceed92d 2px, transparent 1px);
    color: white;
    background-color: $second-theme;
    background-size: 4rem 4rem;
    // height: 200vh;
    background-attachment: fixed;
}

.page-main-div{
    min-height: 100vh;
    border : 2px solid red ; 
}